h1 {
    text-align: center;
}

.cadre {
    display: inline-block;
    width: 40%;
    min-height: 200px;
    text-align: center;
}

#equipeDomicile {
    background-color: antiquewhite;
    float: left;
}

#equipeExterieur {
    background-color: rosybrown;
    float: right;
}