main {
    margin: 20px 200px 0 200px;
}

article {
    border: solid 1px black;
    background-color: lightgrey;
    margin: 10px;
}

.accroche {
    background-color: lightyellow;
    margin: 10px 50px;
    padding: 10px 50px;
    box-shadow: 10px 5px 5px grey;
}

.accroche a {
    display: inline-block;
    float: right;
}